<a href="https://colab.research.google.com/github/23beraid/2023ENGR111ES6/blob/main/Project_Detailed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing pandas into the session

In [ ]:
from google.colab import files

Import Pandas

In [ ]:
import pandas as pd

Importing Numpy to make it easier to manipulate the data

In [ ]:
import numpy as np

Next we import matplotlib.pyplot to visualize the data by making some plots

In [ ]:
import matplotlib.pyplot as plt

Import statsmodels for regression

In [ ]:
import statsmodels.formula.api as sm

Read the data into the session

In [ ]:
NYHousing = files.upload()

Now read it as an excel file. Otherwise, operations do not work.

In [ ]:
NYHousing = pd.read_excel('NY Housing Data.xlsx')

If you check the type of our file, it will be a dataframe. This makes applying the pandas commands easier.

In [ ]:
type(NYHousing)

The .head() command allows you to view the 1st 5 rows of your file

In [ ]:
NYHousing.head()

The .info() shows outpts names of rows, columns, counts and data types

In [ ]:
NYHousing.info()

The .shape command gives you the number of rows and columns of your dataset

In [ ]:
NYHousing.shape

The .columns command gives you the names of all the columns

In [ ]:
NYHousing.columns

You can create a new series with a single column of your dataset by calling it within a square bracket. The following also assigns the selection to a variable. We can do similarly for all other selections (subsets) of the main dataset

In [ ]:
price = NYHousing['Price']

The .head() command, as usual, gives the 1st 5 rows and in this instance, the name of the series and data type

In [ ]:
price.head()

.values gives the values in the dataframe

In [ ]:
NYHousing.values

.columns gives the column names

In [ ]:
NYHousing.columns

.index gives row numbers or names

In [ ]:
NYHousing.index

.sort_values() sorts the specified column in an ascending order

In [ ]:
NYHousing.sort_values("Price")

The following sorts in descending order

In [ ]:
NYHousing.sort_values("Price", ascending = False)

The following sorts two columns (specified) the first descending and second ascending. The ascending argument can be removed to have both columns in ascending order.

In [ ]:
NYHousing.sort_values(["Price","Living_sqft"], ascending = [False, True])

**Subsetting**

The following shows the specified column

In [ ]:
NYHousing["Price"]

The following shows multiple specified columns

In [ ]:
NYHousing[["Price","Lot_sqft"]]

The following returns if a house price exceeds $1M

In [ ]:
NYHousing["Price"]>1000000

The following returns all data where a condition is true. Here, for example, details for all houses that exceed $1M. You can assign this as a different dataframe and work with it.

In [ ]:
NYHousing[NYHousing["Price"]>1000000]

The following returns all the houses where the number of bedrooms is 3

In [ ]:
NYHousing[NYHousing["N_bedrooms"]==3]

The syntax for multiple conditions is below. **Why is this not working?**

In [ ]:
NYHousing[(NYHousing["N_bedrooms"]==3) & (NYHousing["Price"]>1000000)]

The following is one way of selecting multiple values in a column

In [ ]:
NYHousing[NYHousing["N_bedrooms"].isin([1,2])]

We can create new columns as functions of existing columns like below

In [ ]:
NYHousing["Empty_sqft"] = NYHousing['Lot_sqft'] - NYHousing['Above_sqft']
NYHousing.head()

The following is the command to replace a number (or multiple numbers or entries) with NaNs (not a number). You can also variations of this to replace with some other number or entry.

In [ ]:
price.replace([0, 99999999999999], np.nan, inplace = True)

Following are 2 ways get maximum of a specified column. You can use variations for other measures.

In [ ]:
price.max()

In [ ]:
NYHousing['Price'].max()

The .describe() command gives the summary statistics

In [ ]:
price.describe()

Creates a function to return the 30th percentile

In [ ]:
def pct30(column): return column.quantile(0.3)

Now we can call the function on a single column or multiple columns

In [ ]:
NYHousing["Price"].agg(pct30)

In [ ]:
NYHousing[["Price","Lot_sqft"]].agg(pct30)

We can also call multiple functions for multiple columns

In [ ]:
NYHousing[["Price","Lot_sqft"]].agg([pct30, max])

Histogram of the house prices. Dropped the zeroes and highest (which seems not valid). These were replaced NaNs earlier and are now dropped.

In [ ]:


plt.hist(price.dropna(),bins=10)
plt.xlabel('House Price in $')
plt.ylabel('Frequency')
plt.show()

Bar plot

In [ ]:
# Count the number of houses for each number of views
view_counts = NYHousing['View'].value_counts()
# Sort the view_counts by index
view_counts = view_counts.sort_index()
# Create a bar plot
plt.bar(view_counts.index, view_counts.values)
# Set labels and title
plt.xlabel('Number of Views')
plt.ylabel('Number of Houses')
plt.title('Number of Houses for Each Number of Views in NY Housing Dataset')
# Show the plot
plt.show()

Pie Chart

In [ ]:
# Count the number of houses for each number of views
view_counts = NYHousing['View'].value_counts()
# Sort the view_counts by index
view_counts = view_counts.sort_index()
# Calculate percentage values
percentages = 100 * view_counts / view_counts.sum()
# Create a pie chart without percentage values displayed on the chart
labels = view_counts.index
colors = plt.cm.viridis(np.linspace(0, 1, len(labels)))
wedges, texts = plt.pie(view_counts, labels=labels, colors=colors, startangle=90)
# Set title
plt.title('Percentage of Houses for Each Number of Views in NY Housing Dataset')
# Create a legend with percentage values
legend_labels = [f'{label}: {percentage:.1f}%' for label, percentage in zip(labels, percentages)]
plt.legend(wedges, legend_labels, title="Number of Views", loc="center left", bbox_to_anchor=(1, 0, 0.5, 1))
# Equal aspect ratio ensures that pie is drawn as a circle
plt.axis('equal')
# Show the plot
plt.show()

Scatterplot

In [ ]:
plt.plot(NYHousing.Living_sqft, NYHousing.Price,'o', markersize=2)
plt.xlabel('Living Size in Square Feet')
plt.ylabel("House Price in $")
plt.show()

Simple Linear Regression Model

In [ ]:
SLR=sm.ols(formula = 'NYHousing.Price ~ NYHousing.Living_sqft', data = NYHousing).fit()
SLR.summary()

Multilinear Regression Model

In [ ]:
MLR=sm.ols(formula = 'NYHousing.Price ~ NYHousing.Living_sqft + NYHousing.N_bedrooms', data = NYHousing).fit()
MLR.summary()

There are codes for individual statistics as well. For example, the following is for rsquared

In [ ]:
MLR.rsquared

Simple Linear Regression Model & ANOVA Table

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [ ]:
SLR = smf.ols('NYHousing.Price ~ NYHousing.Living_sqft', data = NYHousing).fit()
anova_table = anova_lm(SLR)
print(anova_table)

Filtering Data

In [ ]:
singlebed = NYHousing['N_bedrooms']<2

In [ ]:
singlebed.head(100)

In [ ]:
NYHousing.head()

In [ ]:
singlebed.sum()

Exporting Data to Excel File

In [ ]:
# The following code read the first five columns of the NYHousing dataframe and save it as a new file called 'NY Housing Data_subset.xlsx':
# Select the first 5 columns
NYHousing_subset = NYHousing.iloc[:, :5]

# Save the subset to a new Excel file
NYHousing_subset.to_excel('/content/NY Housing Data_subset.xlsx', index=False)